#right_box
{	float:right;
	border-radius:10px;
	//background-color:#cc6476;
	//border:3px solid #f1f1f1;
	width:610px;
	margin:0;
	margin-bottom: 0.25em;
	margin-right: 4em;
	
	
}

#left_box
{	float:left;
	
	//border-radius:10px;
	//background-color:#cc6476;
	//border:3px solid #f1f1f1;
	width:550px;
	margin:0;
	margin-bottom: 0.25em;
	margin-left: 2.5em;
	margin-top:70px;
}


.login-page
{
	
	width:360px;
	padding:10% 0 0;
	margin:auto;
	font-weight:bold;
}

.form{
	
	position:relative;
	z-index:1;
	//background: RGBA(7,40,195,0.8);
	background-color:#cc6476;
	max-width:360px;
	margin:0 auto 100px;
	padding:45px;
	text-align:center;
	
}




.form input{
		font-family:"Roboto",sans-serif;
		
		outline: 1;
		background: #f2f2f2;
		width:100%;
		border:0;
		margin:0 0 15px;
		padding:15px;
		box-sizing:border-box;
		font-size:14px;
		
 }


.form button
{
		font-family:"Roboto",sans-serif;
		text-transform:uppercase;
		outline:0;
		background:#ffffff;;
		width:100%
		border:0;
		padding:15px;
		color:#FFFFFF;
		font-size:14px;
		cursor:pointer;
		
}

.form button:hover,.form button:active{background: #444444;}


.form .message{
	margin:15px 0 0;
	color: aliceblue;
	font-size:15px;
	
}
	


.form .message a
{
	
	//color:#ffcabb;
	color:#000000;
	font-weight:bold;
	//text-decoration:none;
}


.form .register-form
{
display:none;

}

