#title   /*serachurmatch*/
{
	border-radius:10px;
	//background-color:#ffe6e6;
	//background-color:#ffffff;
	background-color:#cc6476;
	border:3px solid #f1f1f1;
	//width:1275px;
	width:100%;
	margin:0 auto;
	//font-size:130%;
	//position:relative;
	
}



